server:
  port: 8888

spring:
  cloud:
    config:
      server:
        native:
          search-locations: classpath:/config
      fail-fast: false

  profiles:
    active: native

management:
  endpoints:
    web:
      exposure:
        include: health,info